<!DOCTYPE html>
<html>
<head>
	<title>Hue Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="jquery.minicolors.css">
	<link rel="image/png" href="jquery.minicolors.png">

	<script type="text/javascript" src="/js/lib/lodash.min.js"></script>
	<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
	<script src="/js/lib/angular/angular.js"></script>
	<script src="jquery.minicolors.js"></script>
	<!--<script src="/js/lib/bootstrap-custom/ui-bootstrap-custom-tpls-0.5.0.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>-->
	
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/groups_service.js"></script>
	<script type="text/javascript" src="/js/hue_service.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/filters.js"></script>
	<script type="text/javascript" src="/js/directives.js"></script>

</head>
<body ng-app="myApp" ng-controller="AppCtrl" ng-init="loadLights()">
<div class="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<a class="navbar-brand" href="#">RadHue</a>
		<p class="pull-right navbar-text">
			<a href="https://github.com/jmhmd/radhue/issues" class="navbar-link" target="_blank">
				<span class="glyphicon glyphicon-question-sign"></span> Report a bug, ask a question, suggest a feature
			</a>
		</p>
	</nav>

	<div class="menu">
		<button class="btn" ng-click="buttonTest()">Test</button>
		<button class="btn" ng-click="getLight()">Get Info</button>
		<div align="center">Hue Bridge
			<input ng-Model="hueIP" placeholder="{{hueIP()}}"></input>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- repeat this block for each group -->
				<div class="light-group" ng-repeat="(groupID, group) in groups">
					<div class="col-md-12">
						<h4>{{group.name}}</h4>
						<form class="form-horizontal" role="form">
							<!-- repeat this block for each available light position -->
							<div class="form-group" ng-repeat="(position, lightID) in group.lights">
								<label class="col-md-2 control-label">{{position | uppercase}}:</label>
								<div class="col-md-4">
									<select class="form-control" ng-model="group.lights[position]" ng-options="l.value as l.name for l in selectLights(group.lights[position])" ng-change="onSelectedLight(position)">
										<option value="">-- None --</option>
									</select>
									<button ng-show="group.lights[position]" ng-click="blinkLight(lightID)">Identify</button>
									<button ng-show="group.lights[position]" ng-click="toggleLight(lightID)">{{lights[lightID].state.on && 'On' || 'Off'}}</button>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Preset:</label>
								<div class="col-md-4">
									<select class="form-control" ng-model="group.preset" ng-options="p for p in presets" ng-change="onSelectedPreset(position)">
										<option value="">-- None --</option>
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="add-new-group">
					<a ng-click="addGroup()"><h3>Add Group</h3></a>
				</div>
			</div>
			<div class="col-md-3">
				<h4>Available lights:</h4>
					<div ng-repeat="(key, light) in availableLights()">
						{{light.name}}
						<button ng-click="blinkLight(key)">Identify</button>
						<button ng-click="toggleLight(key)">{{light.state.on && 'On' || 'Off'}}</button>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="navbar navbar-default">
		<p class="muted navbar-text">
			Created by Jason Hostetter, M.D. and Jim Morrison, M.D. - 2013
		</p>
	</div>
<div>
</div>
</body>
</html>